@using Microsoft.AspNetCore.Mvc.Localization
@using St.BlogManagement.Localization
@inject IHtmlLocalizer<BlogManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
